h1{
    text-align: center;

}nav{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid black;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color:black;
}