

h1{
    text-align: center;
    color:ghostwhite;
    margin-bottom: 30px;
}

nav{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid white;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color:white;
}