 body{
        background-image:url("./images/portfolio.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }

h1{
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

nav{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #007BFF;
}