

h1{
    text-align: center;
    color:black;
    margin-bottom: 30px;
    font-size: 40px;
}

nav{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid black;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color:black;
}

p{
    text-align:center;
    font-size: 20px;
}